@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Rouge+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import "designs.css";
@import "css/bounce.css";

html,
body,
#root {
  margin: 0;
  padding: 0;
  border: 6px solid #99CCFF;
}

.link {
  text-decoration: none;
  color: #7a7c7f;
}

.button_link {
  text-decoration: none;
  color: white;
}

:root {
  --color-secondary: #d4aee4;
  --color-tertiary: #99ccff;
  --color-quaternary: #fec272;
  --color-quinary: #fec272;
  --color-light: #f0edf2;
  --color-light-pink: #facbea;
  --color-pink: #e9d7fc;
  --color-bright-lavender: #bfa8d6;
  --color-low-lavender: #d5ccdf;
  --color-lavender: #c2a4f3;
  --color-light-green: #d4e2d4;
  --color-green: #c0edb4;
  --color-blue: #99ccff;
  --color-yellow: #ffc884;
  --color-orange: #f0b1a0;
}

.head_image {
  width: 100%;
  background: var(--color-light);
}

/* About*/

.about {
  background: var(--color-light);
}

.about .body-image {
  max-width: 100%;
  text-align: center;
}

.body_content {
  margin-top: 20%;
  padding: 20px 80px;
}

.body_content .body_header {
  font-family: 'Libre Baskerville';
  font-size: 30px;
  font-weight: bolder;
}

.body_list {
  text-align: center;
  margin-top: 1em;
  position: relative;
}

.body_list_div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.body_list_ul {
  list-style: none;
  /* Remove default bullets */
  padding: 0;
  margin: 0;
}

.body_list_li {
  display: inline;
  /* Make list items inline */
  margin-right: 1em;
  /* Add spacing between list items */
}

.body_list_text {
  display: inline;
  /* Make the paragraph inline */
  margin: 0;
  /* Remove default paragraph margins */
}

.body_list_li::before {
  content: "\2022";
  /* Unicode for bullet point */
  font-family: "Rocher";
  /* Apply your font */
  font-palette: --HELLO;
  /* Apply your custom font palette */
  color: var(--HELLO);
  /* Custom color */
  font-size: 1em;
  /* Adjust the size */
  margin-right: 0.5em;
  display: inline-block;
}

.body_text {
  margin: 20px 0px 50px 0px;
}

.resume {
  text-align: center;
}

.image-for-row {
  display: flex;
  justify-content: center;
}

.project_connector {
  width: 100%;
}

.ballon_container {
  position: relative;
  /* Establishes a positioning context */
  width: 100%;
  height: auto;
  /* Adjust based on your content */
  text-align: center;
  /* Center content horizontally */
}

/* Balloon image */
.ballon_image_div {
  position: absolute;
  /* Allow image to overlap */
  top: -170%;
  /* Adjust based on your image */
  left: 30%;
  transform: translateX(-50%);
  z-index: 1;
  /* Set behind the text */
}

.ballon_image {
  width: 200px;
  /* Adjust balloon size */
  height: auto;
}

/* Project */
.project_name {
  margin-bottom: 3%;
  position: relative;
  z-index: 2;
}

.project_column_div {
  padding: 10%;
}

.project_image {
  max-width: 100%;
}

.project_image2 {
  max-width: 100%;
}

.project_image3 {
  max-width: 100%;
}

.modal-dialog {
  min-width: 60%;
}

.project_sample_body {
  margin-bottom: 1rem;
}

.button_link {
  color: var(--color-lavender);
}

/* .modal-content{
  background-color: var(--color-yellow) !important;
} */
/* CONTACT ME*/
.footer_connector {
  width: 100%;
}

.footer {
  background-color: var(--color-pink);
  padding: 1rem;
}

#footer_image {
  max-width: 100%;
  max-height: 100%;
}

.footer {
  background-color: var(--color-orange);
}

.footer_text {
  text-align: center;
  margin-top: 30%;
  margin-left: 15%;
  transform: skew(0, -10deg);
}

.footer .footer_text .say_hello_div {
  margin: 10px;
}

.footer .footer_text .contact_email_div {
  padding: 5px;

}


.footer .contact-email a {
  text-decoration: none;
  color: var(--color-light);
}

.footer .footer_text .contact_icon {
  margin: 10px;
}

.footer .footer_text .contact_icon .icon {
  color: var(--color-light);
  padding: 5px;
}

.footer .footer_text .contact_icon .icon a {
  color: var(--color-light);
}

.foot {
  background-color: var(--color-orange);
}

.foot .foot_align {
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .body_content {
    margin-top: 20%;
    padding: 20px 20px;
  }
  .body_list_image {
    width: 300px;
    height: 200px;
  }

  .wrap {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .body_list_image img {
    width: 100%;
    height: 100%;
  }

  .ballon_container {
    position: relative;
    /* Establishes a positioning context */
    width: 100%;
    height: auto;
    /* Adjust based on your content */
    text-align: center;
    /* Center content horizontally */
  }

  /* Balloon image */
  .ballon_image_div {
    position: absolute;
    /* Allow image to overlap */
    top: -170%;
    /* Adjust based on your image */
    left: 30%;
    transform: translateX(-50%);
    z-index: 1;
    /* Set behind the text */
  }

  .ballon_image {
    width: 100px;
    /* Adjust balloon size */
    height: auto;
  }

  .footer_text {
    text-align: center;
    margin-top: 30%;
    margin-left: 0;
    transform: skew(0, -10deg);
  }
  .footer .footer_text .contact_email_div {
    padding: 0;
  }
}