@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");
@import "designs.css";

html,
body,
#root {
  height: 50%;
  margin: 0;
  padding: 0;
}
:root {
  --color-secondary: #d4aee4;
  --color-tertiary: #99ccff;
  --color-quaternary: #fec272;
  --color-quinary: #fec272;

  --color-light: #f0edf2;
  --color-light-pink: #facbea;
  --color-pink: #e9d7fc;
  --color-bright-lavender: #bfa8d6;
  --color-low-lavender: #d5ccdf;
  --color-lavender: #c2a4f3;
  --color-light-green: #d4e2d4;
  --color-green: #c0edb4;
  --color-blue: #99ccff;
  --color-yellow: #ffc884;
  --color-orange: #f0b1a0;
}

.header {
  background: var(--color-pink);
}
.header .right {
  z-index: 100;
  float: right;
  color: var(--color-light);
  position: relative;
  background: var(--color-bright-lavender);
}

.header .first {
  z-index: 5;
  font-family: Montserrat, sans-serif;
  float: right;
  background: var(--color-bright-lavender);
  right: 0;
  padding: 5rem;
  border-radius: 25px;
  position: absolute;
}
.header .first h1 {
  background: var(--color-bright-lavender);
  font-size: 30px;
  text-transform: uppercase;
  padding: 1rem;
}
.header .first h1 a {
  background: var(--color-bright-lavender);
  text-decoration: none;
  color: var(--color-light);
}

.home-image {
  padding: 0%;
  margin: 0%;
  background-color: var(--color-pink);
}

#image-section {
  max-width: 100%;
}

/* About*/

.about {
  background: var(--color-light);
}
.about .body-image {
  max-width: 100%;
  text-align: center;
}

.body_content {
  margin-top: 10%;
}

.body-text {
  padding: 20px 80px;
  color: #7a7c7f;
  font-size: 20px;
  font-family: "Libre Baskerville", serif;
  line-height: 45px;
  text-shadow: 0 1px 1px #fff;
}

/* Project */
.project_name {
  margin-top: 3%;
  margin-bottom: 3%;
}

.project_column_div {
  padding: 10%;
}
.project_image {
  max-width: 100%;
}

/* CONTACT ME*/

.footer {
  background-color: var(--color-pink);
  padding: 1rem;
}
#footer_image {
  padding: 10%;
  max-width: 70%;
  max-height: 70%;
}

.footer {
  background-color: var(--color-pink);
}
.footer_text{
  margin: 15%;
  text-align: center;

}

.footer .footer_text .say_hello_div{
  margin: 10px;
}

.footer .footer_text .contact_email_div{
  margin: 10%;
}

.footer .contact-email a{
  text-decoration: none;
  color: #d4aee4;
}
.footer .footer_text .contact_icon{
  margin: 10px;
}

.footer .footer_text .contact_icon .icon{
  color:var(--color-lavender);
  padding: 5px;
}
.foot{
  background-color: var(--color-pink);
}
.foot .foot_align{
  text-align: center;
}